/* Profile.css */
.profile {
  max-width: 340px;
  border: 1px solid #000;
  border-radius: 10%;
  margin: 0 auto;
  padding: 10px;
}

.profileImg {
  margin: 0 auto;
  max-width: 85px;
  display: flex;
  border-radius: 50%;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 35px;
}

.profileInfo h2 {}

.profileInfoName {
  color: gray;
}

.profileInfoLocation {}

.profileStats {
  margin-top: 35px;
}

.profileStats ul {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.profileStats li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
