.profile {
  max-width: 340px;
  border: 1px solid #000;
  border-radius: 10%;
  margin: 0 auto;
  padding: 10px;
  &-img {
    margin: 0 auto;
    max-width: 85px;
    display: flex;
    border-radius: 50%;
  }
  &-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 35px;
    h2 {
    }
    &-name {
        color: gray;
    }

    &-location {
    }
  }
  &-stats {
    margin-top: 35px;
    ul {
      display: flex;
      justify-content: center;
      gap: 25px;
    }
    li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
  }
}
